<section>
  <div class="card parcel-card">
    <div class="card-header justify-content-between">
      <h2 class="card-title">สร้างรายการพัสดุ</h2>
      <a
        class="btn btn-icon btn-3 btn-primary"
        type="button"
        [routerLink]=""
        (click)="addItem()"
      >
        <span class="btn-inner--icon"><i class="ni ni-fat-add"></i></span>
        <span class="btn-inner--text">สร้างรายการพัสดุ</span>
      </a>
    </div>
    <div class="card-body">
      <h2 class="mb-3">รายการพัสดุ</h2>
      <table class="table align-items-center table-flush">
        <thead class="thead-light">
          <tr>
            <th scope="col">เลขพัสดุ</th>
            <th scope="col">ประเภทการขนส่ง</th>
            <th scope="col">ตีลังไม้</th>
            <th scope="col">QC</th>
            <th scope="col">รูป</th>
            <th scope="col">หมายเหตุ</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of items">
            <td class="text-center">
              <input
                type="text"
                class="form-control"
                placeholder="Tracking No"
                [(ngModel)]="item.parcelNo"
                maxlength="50"
              />
            </td>
            <td class="text-center">
              <div class="dropdown" dropdown>
                <button
                  class="btn btn-secondary dropdown-toggle"
                  type="button"
                  id="dropdownMenuButton"
                  dropdownToggle
                >
                  {{ item.type }}
                </button>
                <div
                  aria-labelledby="dropdownMenuButton"
                  *dropdownMenu
                  class="dropdown-menu"
                >
                  <a class="dropdown-item" (click)="item.type = 'รถ'">รถ</a>
                  <a class="dropdown-item" (click)="item.type = 'เรือ'">เรือ</a>
                </div>
              </div>
            </td>
            <td>
              <div
                class="custom-control custom-checkbox d-flex flex-row align-items-center justify-content-center"
              >
                <input
                  type="checkbox"
                  class="custom-control-input"
                  id="wooden-box"
                  [(ngModel)]="item.hasBox"
                />
                <label class="custom-control-label" for="wooden-box"></label>
              </div>
            </td>
            <td>
              <div
                class="custom-control custom-checkbox d-flex flex-row align-items-center justify-content-center"
              >
                <input
                  type="checkbox"
                  class="custom-control-input"
                  id="qc"
                  [(ngModel)]="item.hasQC"
                />
                <label class="custom-control-label" for="qc"></label>
              </div>
            </td>
            <td>
              <div
                class="custom-control custom-checkbox d-flex flex-row align-items-center justify-content-center"
              >
                <input
                  type="checkbox"
                  class="custom-control-input"
                  id="picture"
                  [(ngModel)]="item.hasPicture"
                />
                <label class="custom-control-label" for="picture"></label>
              </div>
            </td>
            <td class="text-center">
              <input
                type="text"
                class="form-control"
                placeholder="หมายเหตุ"
                maxlength="150"
              />
            </td>
          </tr>
        </tbody>
      </table>
      <div class="d-flex flex-row justify-content-end mt-2">
        <a
          class="btn btn-danger mr-2"
          type="button"
          [routerLink]="['/web/parcel-list']"
        >
          ยกเลิก
        </a>
        <a
          class="btn btn-primary mr-2"
          type="button"
          [routerLink]="['/web/confirm-parcel']"
        >
          ยืนยันพัสดุ
        </a>
      </div>
    </div>
  </div>
</section>
