<section id="overview" class="section">
  <div class="container-fluid overview-container">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">
          ที่อยู่โกดังจีน (สำหรับบริการขนส่งสินค้าจากจีนอย่างเดียว)
        </h5>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12 text-right">
            <small><a [routerLink]="">วิธีใส่ที่อยู่</a></small>
          </div>
        </div>
        <table style="width: 100%">
          <tbody>
            <tr>
              <td style="width: 30%">ชื่อผู้รับ (收货人)</td>
              <td style="width: 1%">:</td>
              <td style="width: 79%">BTC101大</td>
            </tr>
            <tr>
              <td>ที่อยู่ (地址)</td>
              <td>:</td>
              <td>
                广州市白云区白云湖街道夏茅兵房路261号7431工厂74-2-仓库 BTC101
              </td>
            </tr>
            <tr>
              <td>รหัสไปรษณีย์ (邮编)</td>
              <td>:</td>
              <td>510000</td>
            </tr>
            <tr>
              <td>เบอร์โทรศัพท์ (电话)</td>
              <td>:</td>
              <td>18665714234</td>
            </tr>
            <tr>
              <td colspan="3">
                <span class="remark-title">หมายเหตุ : </span>
                <ol class="remark-list">
                  <li>
                    ขนส่งทางเรือกรุณาใส่ (S) <u>ด้านหน้า</u> ชื่อผู้รับ เช่น
                    (S)BTCXXX大
                  </li>
                  <li>
                    พัสดุที่ไม่มีการระบุ (S) <u>ด้านหน้า</u> ชื่อผู้รับ
                    จะถูกขนส่งทางรถ
                  </li>
                  <li>
                    ขนส่งทางเรือใช้ระยะเวลาในการขนส่ง 14-30 วันถึงไทย
                    ไม่รวมช่วงรอสินค้าถึงโกดังจีน
                    วันหยุดต่างๆและเหตุสุดวิสัยที่อาจเกิดขึ้น
                    และรับจำนวนขั้นต่ำต่อการขนส่ง 50 กิโลกรัมขึ้นไป
                  </li>
                  <li>
                    หากต้องการให้ทางโกดังตีลังไม้กรุณาใส่ (F)
                    <u>ด้านหน้า</u> ชื่อผู้รับ เช่น (F)BTCXXX大
                  </li>
                  <li>
                    กรุณาแจ้งร้านค้าให้ระบุ (S) หรือ (F)
                    ไว้ที่ชื่อผู้รับทุกพัสดุที่ส่งมายังโกดังจีนเสมอ
                    เพื่อป้องกันความผิดพลาดการขนส่งที่อาจเกิดขึ้น
                  </li>
                  <li>
                    สินค้ามีคม สินค้าผิดกฎหมาย สินค้าต้องห้าม สินค้าต้องกำกัด
                    ต้นไม้และสารเคมี ไม่รับขนส่งทุกกรณี
                  </li>
                  <li>
                    การขนส่งสินค้าหรือวัสดุที่มีโอกาสแตกหักและเสียหายสูง
                    หรือมีโอกาสก่อให้เกิดอุบัติเหตุต่อพนักงานขนส่ง เช่น
                    สินค้าที่มีส่วนมีคม สินค้าจำพวกเซรามิค เครื่องจักร เหล็ก
                    เฟอร์นิเจอร์ และสารเคมีเป็นต้น
                    <br />หากลูกค้าไม่ได้แจ้งร้านค้าหรือโรงงานให้ห่อหุ้มด้านที่มีคมมาให้เรียบร้อยและแน่นหนา
                    ใช้ลังหนาและตีลังไม้เข้ามาหรือแจ้งทีมงานของที่จีนตีลังไม้
                    ทาง BTC Cargo จะไม่ชดเชยค่าเสียหายที่เกิดขึ้นกับสินค้า
                    หากสินค้าของลูกค้าก่อให้เกิดอุบัติเหตุแก่พนักงาน
                    ลูกค้าจะต้องเป็นผู้รับผิดชอบความเสียหายที่เกิดขึ้นแต่เพียงผู้เดียว
                  </li>
                  <li>
                    การขนส่งสินค้าอย.และสินค้าลิขสิทธิ์ ใช้เวลาขนส่งประมาณ 2-4
                    สัปดาห์และหากมีสินค้าทั่วไปปนมากับสินค้าลิขสิทธิ์
                    จะถูกคิดเป็นสินค้าลิขสิทธิ์ทั้งหมด
                    รบกวนศึกษารายละเอียดเพิ่มเติม
                    <a [routerLink]="">ที่นี่</a>
                    ก่อนสั่งซื้อสินค้า
                  </li>
                </ol>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
