<section id="bills">
  <div class="card container-card">
    <div class="card-header">
      <h2 class="card-title">ยอดบิลทั้งหมด</h2>
    </div>
    <div class="card-body">
      <div class="wrapper-table overflow-x-auto">
        <table class="table align-items-center">
          <thead class="thead-light">
            <tr>
              <th class="th-bill-types">ประเภทบิล</th>
              <th class="th-bill-no">เลขที่บิล</th>
              <th class="th-bill-creation-date">วันที่สร้างบิล</th>
              <th class="th-quantity">จำนวนสินค้า</th>
              <th class="th-payment-amount">ยอดชำระ</th>
              <th class="th-status">สถานะ</th>
              <th class="th-details">ดูรายละเอียด</th>
            </tr>
          </thead>
          <tbody>
            <tr class="item">
              <td class="td-bill-types">บริการจัดส่งพัสดุ</td>
              <td class="td-bill-no">
                <a [routerLink]="['000001']"> 000001 </a>
              </td>
              <td class="td-bill-creation-date">DD/MM/YY</td>
              <td class="td-quantity">Quantity</td>
              <td class="td-payment-amount">Baht</td>
              <td class="td-status">รอการตรวจสอบ</td>
              <td class="td-details">
                <a [routerLink]="['000001']"> ดูรายละเอียด </a>
              </td>
            </tr>
            <tr class="item">
              <td class="td-bill-types">บริการจัดส่งพัสดุ</td>
              <td class="td-bill-no">
                <a [routerLink]="['000002']"> 000002 </a>
              </td>
              <td class="td-bill-creation-date">DD/MM/YY</td>
              <td class="td-quantity">Quantity</td>
              <td class="td-payment-amount">Baht</td>
              <td class="td-status">รอการตรวจสอบ</td>
              <td class="td-details">
                <a [routerLink]="['000002']"> ดูรายละเอียด </a>
              </td>
            </tr>
            <tr class="item">
              <td class="td-bill-types">บริการจัดส่งพัสดุ</td>
              <td class="td-bill-no">
                <a [routerLink]="['000003']"> 000003 </a>
              </td>
              <td class="td-bill-creation-date">DD/MM/YY</td>
              <td class="td-quantity">Quantity</td>
              <td class="td-payment-amount">Baht</td>
              <td class="td-status">รอการตรวจสอบ</td>
              <td class="td-details">
                <a [routerLink]="['000003']"> ดูรายละเอียด </a>
              </td>
            </tr>
            <tr class="item">
              <td class="td-bill-types">บริการจัดส่งพัสดุ</td>
              <td class="td-bill-no">
                <a [routerLink]="['000004']"> 000004 </a>
              </td>
              <td class="td-bill-creation-date">DD/MM/YY</td>
              <td class="td-quantity">Quantity</td>
              <td class="td-payment-amount">Baht</td>
              <td class="td-status">รอการตรวจสอบ</td>
              <td class="td-details">
                <a [routerLink]="['000004']"> ดูรายละเอียด </a>
              </td>
            </tr>
            <tr class="item">
              <td class="td-bill-types">บริการจัดส่งพัสดุ</td>
              <td class="td-bill-no">
                <a [routerLink]="['000005']"> 000005 </a>
              </td>
              <td class="td-bill-creation-date">DD/MM/YY</td>
              <td class="td-quantity">Quantity</td>
              <td class="td-payment-amount">Baht</td>
              <td class="td-status">รอการตรวจสอบ</td>
              <td class="td-details">
                <a [routerLink]="['000005']"> ดูรายละเอียด </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
