#products {
  position: relative;
  .product-img {
    width: 150px;
    height: 150px;
  }
  .cart-icon {
    position: fixed;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    i {
      font-size: 40px;
    }
    .cart-item-number {
      position: absolute;
      top: -15px;
      right: -10px;
      border-radius: 50%;
      width: 25px;
      height: 25px;
    }
  }
  .products-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
  .item {
    .title {
      display: -webkit-box;
      overflow: hidden;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      min-height: 50px;
    }
  }
}
