.card-header {
  background-color: #ca3342fc;
  color: #fff;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.card-title {
  color: #fff;
  margin-bottom: 0;
}

.card-body {
  padding: 20px;
}

.parcel-list-card {
  margin: 0px 20px;
}

.overflow-x-auto {
  overflow-x: auto;
}

h2 {
  margin-bottom: 0;
}

.input-text {
  width: 20%;
}

.dropdown-toggle.btn {
  width: 130px;
}