<section id="all-items">
  <div class="card container-card">
    <div class="card-header">
      <h2 class="card-title">รายการทั้งหมด</h2>
    </div>
    <div class="card-body">
      <div
        class="container-filter mb-3 d-flex align-items-center justify-content-between"
      >
        <h2>รายการพัสดุ</h2>
        <div class="d-flex">
          <div class="d-flex align-items-center mr-3">
            <span class="text-nowrap mr-3">เลขตู้</span>
            <input
              type="text"
              class="form-control"
              placeholder=""
            />
          </div>
          <div class="d-flex align-items-center mr-3">
            <span class="export-date text-nowrap mr-3">วันที่ออกจากจีน </span>
            <div
              class="input-group input-group-alternative input-group-birthdate"
            >
              <div class="input-group-prepend">
                <span class="input-group-text"
                  ><i class="ni ni-calendar-grid-58"></i
                ></span>
              </div>

              <input
                type="string"
                id="input-birthdate"
                placeholder=""
                class="form-control"
                bsDatepicker
                [bsValue]="bsValue"
                [bsConfig]="{
                  isAnimated: true,
                  containerClass: 'theme-red',
                  dateInputFormat: 'YYYY-MM-DD'
                }"
                formControlName="birthDate"
              />
            </div>
          </div>
          <div class="d-flex align-items-center mr-3">
            <span class="mr-3">สถานะ</span>
            <div class="dropdown status ml-2" dropdown>
              <button
                class="btn btn-secondary dropdown-toggle select-status"
                type="button"
                id="dropdownMenuButton"
                dropdownToggle
              >
                เข้าโกดังจีน
              </button>
              <div
                aria-labelledby="dropdownMenuButton"
                *dropdownMenu
                class="dropdown-menu"
              >
                <a
                  class="dropdown-item"
                  href="javascript:void(0)"
                  (click)="changeDropdownMenuValue($event.target)"
                  >เข้าโกดังจีน</a
                >
                <a
                  class="dropdown-item"
                  href="javascript:void(0)"
                  (click)="changeDropdownMenuValue($event.target)"
                  >ออกจีน</a
                >
                <a
                  class="dropdown-item"
                  href="javascript:void(0)"
                  (click)="changeDropdownMenuValue($event.target)"
                  >ถึงไทย</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="wrapper-table overflow-x-auto">
        <table class="table align-items-center">
          <thead class="thead-light">
            <tr>
              <th class="th-no-order">เลขตู้/ลำดับ</th>
              <th class="th-parcel-number">เลขพัสดุ</th>
              <th class="th-type">ประเภทสินค้า</th>
              <th class="th-export-date">วันส่งออกจีน</th>
              <th class="th-arrive-thai">คาดว่าจะถึงไทย</th>
              <th class="th-width">กว้าง</th>
              <th class="th-length">ยาว</th>
              <th class="th-height">สูง</th>
              <th class="th-volume">ปริมาตร</th>
              <th class="th-weight">น้ำหนัก</th>
              <th class="th-quantity">จำนวนกล่อง</th>
              <th class="th-packing">ตีลัง</th>
              <th class="th-shipping-cost-china">ค่าขนส่งในจีน</th>
              <th class="th-etc">อื่นๆ</th>
              <th class="th-per-unit">หน่วยละ</th>
              <th class="th-shipping-cost">ค่าขนส่ง</th>
              <th class="th-storage-fees">ค่าจัดเก็บพัสดุ</th>
              <th class="th-qc-cost">ค่า QC</th>
              <th class="th-note">หมายเหตุ</th>
              <th class="th-tracking">สถานะ</th>
            </tr>
          </thead>
          <tbody>
            <tr class="item">
              <td class="td-no-order">Lot No.Order</td>
              <td class="td-parcel-number">Tracking No.</td>
              <td class="td-type">P/D/HY/SP/SD</td>
              <td class="td-export-date">DD/MM/YY</td>
              <td class="td-arrive-thai">
                <div class="wrapper">
                  <p>รถ+15 DD/MM/YY</p>
                  <p>เรือ+15 DD/MM/YY</p>
                </div>
              </td>
              <td class="td-width">width cm.</td>
              <td class="td-length">length cm.</td>
              <td class="td-height">height cm.</td>
              <td class="td-volume">volume m3</td>
              <td class="td-weight">weight kg.</td>
              <td class="td-quantity">Quantity</td>
              <td class="td-packing">Baht</td>
              <td class="td-shipping-cost-china">Baht</td>
              <td class="td-etc">Baht</td>
              <td class="td-per-unit">Baht</td>
              <td class="td-shipping-cost">Baht</td>
              <td class="td-storage-fees">Baht</td>
              <td class="td-qc-cost">Baht</td>
              <td class="td-note">Note</td>
              <td class="td-tracking">ออกจีน/ถึงไทย/จัดส่งแล้ว</td>
            </tr>
            <tr class="item">
              <td class="td-no-order">Lot No.Order</td>
              <td class="td-parcel-number">Tracking No.</td>
              <td class="td-type">P/D/HY/SP/SD</td>
              <td class="td-export-date">DD/MM/YY</td>
              <td class="td-arrive-thai">
                <div class="wrapper">
                  <p>รถ+15 DD/MM/YY</p>
                  <p>เรือ+15 DD/MM/YY</p>
                </div>
              </td>
              <td class="td-width">width cm.</td>
              <td class="td-length">length cm.</td>
              <td class="td-height">height cm.</td>
              <td class="td-volume">volume m3</td>
              <td class="td-weight">weight kg.</td>
              <td class="td-quantity">Quantity</td>
              <td class="td-packing">Baht</td>
              <td class="td-shipping-cost-china">Baht</td>
              <td class="td-etc">Baht</td>
              <td class="td-per-unit">Baht</td>
              <td class="td-shipping-cost">Baht</td>
              <td class="td-storage-fees">Baht</td>
              <td class="td-qc-cost">Baht</td>
              <td class="td-note">Note</td>
              <td class="td-tracking">ออกจีน/ถึงไทย/จัดส่งแล้ว</td>
            </tr>
            <tr class="item">
              <td class="td-no-order">Lot No.Order</td>
              <td class="td-parcel-number">Tracking No.</td>
              <td class="td-type">P/D/HY/SP/SD</td>
              <td class="td-export-date">DD/MM/YY</td>
              <td class="td-arrive-thai">
                <div class="wrapper">
                  <p>รถ+15 DD/MM/YY</p>
                  <p>เรือ+15 DD/MM/YY</p>
                </div>
              </td>
              <td class="td-width">width cm.</td>
              <td class="td-length">length cm.</td>
              <td class="td-height">height cm.</td>
              <td class="td-volume">volume m3</td>
              <td class="td-weight">weight kg.</td>
              <td class="td-quantity">Quantity</td>
              <td class="td-packing">Baht</td>
              <td class="td-shipping-cost-china">Baht</td>
              <td class="td-etc">Baht</td>
              <td class="td-per-unit">Baht</td>
              <td class="td-shipping-cost">Baht</td>
              <td class="td-storage-fees">Baht</td>
              <td class="td-qc-cost">Baht</td>
              <td class="td-note">Note</td>
              <td class="td-tracking">ออกจีน/ถึงไทย/จัดส่งแล้ว</td>
            </tr>
            <tr class="item">
              <td class="td-no-order">Lot No.Order</td>
              <td class="td-parcel-number">Tracking No.</td>
              <td class="td-type">P/D/HY/SP/SD</td>
              <td class="td-export-date">DD/MM/YY</td>
              <td class="td-arrive-thai">
                <div class="wrapper">
                  <p>รถ+15 DD/MM/YY</p>
                  <p>เรือ+15 DD/MM/YY</p>
                </div>
              </td>
              <td class="td-width">width cm.</td>
              <td class="td-length">length cm.</td>
              <td class="td-height">height cm.</td>
              <td class="td-volume">volume m3</td>
              <td class="td-weight">weight kg.</td>
              <td class="td-quantity">Quantity</td>
              <td class="td-packing">Baht</td>
              <td class="td-shipping-cost-china">Baht</td>
              <td class="td-etc">Baht</td>
              <td class="td-per-unit">Baht</td>
              <td class="td-shipping-cost">Baht</td>
              <td class="td-storage-fees">Baht</td>
              <td class="td-qc-cost">Baht</td>
              <td class="td-note">Note</td>
              <td class="td-tracking">ออกจีน/ถึงไทย/จัดส่งแล้ว</td>
            </tr>
            <tr class="item">
              <td class="td-no-order">Lot No.Order</td>
              <td class="td-parcel-number">Tracking No.</td>
              <td class="td-type">P/D/HY/SP/SD</td>
              <td class="td-export-date">DD/MM/YY</td>
              <td class="td-arrive-thai">
                <div class="wrapper">
                  <p>รถ+15 DD/MM/YY</p>
                  <p>เรือ+15 DD/MM/YY</p>
                </div>
              </td>
              <td class="td-width">width cm.</td>
              <td class="td-length">length cm.</td>
              <td class="td-height">height cm.</td>
              <td class="td-volume">volume m3</td>
              <td class="td-weight">weight kg.</td>
              <td class="td-quantity">Quantity</td>
              <td class="td-packing">Baht</td>
              <td class="td-shipping-cost-china">Baht</td>
              <td class="td-etc">Baht</td>
              <td class="td-per-unit">Baht</td>
              <td class="td-shipping-cost">Baht</td>
              <td class="td-storage-fees">Baht</td>
              <td class="td-qc-cost">Baht</td>
              <td class="td-note">Note</td>
              <td class="td-tracking">ออกจีน/ถึงไทย/จัดส่งแล้ว</td>
            </tr>
            <tr class="item">
              <td class="td-no-order">Lot No.Order</td>
              <td class="td-parcel-number">Tracking No.</td>
              <td class="td-type">P/D/HY/SP/SD</td>
              <td class="td-export-date">DD/MM/YY</td>
              <td class="td-arrive-thai">
                <div class="wrapper">
                  <p>รถ+15 DD/MM/YY</p>
                  <p>เรือ+15 DD/MM/YY</p>
                </div>
              </td>
              <td class="td-width">width cm.</td>
              <td class="td-length">length cm.</td>
              <td class="td-height">height cm.</td>
              <td class="td-volume">volume m3</td>
              <td class="td-weight">weight kg.</td>
              <td class="td-quantity">Quantity</td>
              <td class="td-packing">Baht</td>
              <td class="td-shipping-cost-china">Baht</td>
              <td class="td-etc">Baht</td>
              <td class="td-per-unit">Baht</td>
              <td class="td-shipping-cost">Baht</td>
              <td class="td-storage-fees">Baht</td>
              <td class="td-qc-cost">Baht</td>
              <td class="td-note">Note</td>
              <td class="td-tracking">ออกจีน/ถึงไทย/จัดส่งแล้ว</td>
            </tr>
            <tr class="item">
              <td class="td-no-order">Lot No.Order</td>
              <td class="td-parcel-number">Tracking No.</td>
              <td class="td-type">P/D/HY/SP/SD</td>
              <td class="td-export-date">DD/MM/YY</td>
              <td class="td-arrive-thai">
                <div class="wrapper">
                  <p>รถ+15 DD/MM/YY</p>
                  <p>เรือ+15 DD/MM/YY</p>
                </div>
              </td>
              <td class="td-width">width cm.</td>
              <td class="td-length">length cm.</td>
              <td class="td-height">height cm.</td>
              <td class="td-volume">volume m3</td>
              <td class="td-weight">weight kg.</td>
              <td class="td-quantity">Quantity</td>
              <td class="td-packing">Baht</td>
              <td class="td-shipping-cost-china">Baht</td>
              <td class="td-etc">Baht</td>
              <td class="td-per-unit">Baht</td>
              <td class="td-shipping-cost">Baht</td>
              <td class="td-storage-fees">Baht</td>
              <td class="td-qc-cost">Baht</td>
              <td class="td-note">Note</td>
              <td class="td-tracking">ออกจีน/ถึงไทย/จัดส่งแล้ว</td>
            </tr>
            <tr class="item">
              <td class="td-no-order">Lot No.Order</td>
              <td class="td-parcel-number">Tracking No.</td>
              <td class="td-type">P/D/HY/SP/SD</td>
              <td class="td-export-date">DD/MM/YY</td>
              <td class="td-arrive-thai">
                <div class="wrapper">
                  <p>รถ+15 DD/MM/YY</p>
                  <p>เรือ+15 DD/MM/YY</p>
                </div>
              </td>
              <td class="td-width">width cm.</td>
              <td class="td-length">length cm.</td>
              <td class="td-height">height cm.</td>
              <td class="td-volume">volume m3</td>
              <td class="td-weight">weight kg.</td>
              <td class="td-quantity">Quantity</td>
              <td class="td-packing">Baht</td>
              <td class="td-shipping-cost-china">Baht</td>
              <td class="td-etc">Baht</td>
              <td class="td-per-unit">Baht</td>
              <td class="td-shipping-cost">Baht</td>
              <td class="td-storage-fees">Baht</td>
              <td class="td-qc-cost">Baht</td>
              <td class="td-note">Note</td>
              <td class="td-tracking">ออกจีน/ถึงไทย/จัดส่งแล้ว</td>
            </tr>
            <tr class="item">
              <td class="td-no-order">Lot No.Order</td>
              <td class="td-parcel-number">Tracking No.</td>
              <td class="td-type">P/D/HY/SP/SD</td>
              <td class="td-export-date">DD/MM/YY</td>
              <td class="td-arrive-thai">
                <div class="wrapper">
                  <p>รถ+15 DD/MM/YY</p>
                  <p>เรือ+15 DD/MM/YY</p>
                </div>
              </td>
              <td class="td-width">width cm.</td>
              <td class="td-length">length cm.</td>
              <td class="td-height">height cm.</td>
              <td class="td-volume">volume m3</td>
              <td class="td-weight">weight kg.</td>
              <td class="td-quantity">Quantity</td>
              <td class="td-packing">Baht</td>
              <td class="td-shipping-cost-china">Baht</td>
              <td class="td-etc">Baht</td>
              <td class="td-per-unit">Baht</td>
              <td class="td-shipping-cost">Baht</td>
              <td class="td-storage-fees">Baht</td>
              <td class="td-qc-cost">Baht</td>
              <td class="td-note">Note</td>
              <td class="td-tracking">ออกจีน/ถึงไทย/จัดส่งแล้ว</td>
            </tr>
            <tr class="item">
              <td class="td-no-order">Lot No.Order</td>
              <td class="td-parcel-number">Tracking No.</td>
              <td class="td-type">P/D/HY/SP/SD</td>
              <td class="td-export-date">DD/MM/YY</td>
              <td class="td-arrive-thai">
                <div class="wrapper">
                  <p>รถ+15 DD/MM/YY</p>
                  <p>เรือ+15 DD/MM/YY</p>
                </div>
              </td>
              <td class="td-width">width cm.</td>
              <td class="td-length">length cm.</td>
              <td class="td-height">height cm.</td>
              <td class="td-volume">volume m3</td>
              <td class="td-weight">weight kg.</td>
              <td class="td-quantity">Quantity</td>
              <td class="td-packing">Baht</td>
              <td class="td-shipping-cost-china">Baht</td>
              <td class="td-etc">Baht</td>
              <td class="td-per-unit">Baht</td>
              <td class="td-shipping-cost">Baht</td>
              <td class="td-storage-fees">Baht</td>
              <td class="td-qc-cost">Baht</td>
              <td class="td-note">Note</td>
              <td class="td-tracking">ออกจีน/ถึงไทย/จัดส่งแล้ว</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
